{
	auto_https off
}

https://armbian.caojian.shop:8787 {
	tls /certs/fullchain.cer /certs/key.pem
	encode gzip
	reverse_proxy api:8787
}

https://armbian.caojian.shop {
	tls /certs/fullchain.cer /certs/key.pem
	encode gzip
	reverse_proxy api:8787
}
